---
layout: with_navbar
contents_header: header_section.html
---
{% capture lecture_list %}
<h2>Лекции</h2>
{% assign lectures = site.lectures | where:"section_id", page.section_id %}
{% for lecture in lectures %}
  <h3>{{ lecture.index }}. {{ lecture.title }}</h3>
  <p>{{ lecture.excerpt | strip_html }} <a href="{{ lecture.url | relative_url }}">Детальнее→</a></p>
{% endfor %}
{% endcapture %}

{% assign content = content | replace: "<!--list-->", lecture_list %}
{% include lead.html text=content %}
{% include sibling_nav.html type="section" %}