{% include header.html %}
<h1><div class="pre-header">Раздел {{page.index}}</div>{{ page.title }}</h1>
  
{% capture lecture_list %}
<h2>Лекции</h2>
{% for lecture in site.lectures %}
  {% if lecture.category == page.title %}
  <h3>{{ lecture.index | ceil }}. {{ lecture.title }}</a></h3>
  <p>{{ lecture.excerpt | strip_html }} <a href="{{ lecture.url | relative_url }}">Детальнее→</a></p>
  {% endif %}
{% endfor %}
{% endcapture %}

{{ content | replace: "<!--list-->", lecture_list }}

{% include sibling_nav.html type="section" %}
{% include footer.html %}
