{% include header.html content_classes="with-navbar" nanvar=navbar %}
<h1><div class="pre-header">Раздел {{page.index}}</div>{{ page.title }}</h1>

<nav class="toc toc-collapsed" data-toc=".main-content">
	<h4 onclick="$(this).parent().toggleClass('toc-collapsed')">{% include icon.html icon="right-dir" %}Содержание</h4>
</nav>

{% capture lecture_list %}
<h2>Лекции</h2>
{% for lecture in site.lectures %}
  {% if lecture.category == page.title %}
  <h3>{{ lecture.index | ceil }}. {{ lecture.title }}</h3>
  <p>{{ lecture.excerpt | strip_html }} <a href="{{ lecture.url | relative_url }}">Детальнее→</a></p>
  {% endif %}
{% endfor %}
{% endcapture %}

<div class="main-content-column">
  {{ content | replace: "<!--list-->", lecture_list }}
  {% include sibling_nav.html type="section" %}
</div>
{% include footer.html %}
