---
layout: default
body_class: with-navbar
scripts:
  - src: //code.jquery.com/jquery-3.1.1.slim.min.js
    integrity: sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n
  - src: assets/js/common.js
    internal: true
contents_header: header_generic.html
---
{% include {{ layout.contents_header }} %}

<nav class="toc toc-collapsed" data-toc=".main-content">
	<h4 onclick="$(this).parent().toggleClass('toc-collapsed')">{% include icon.html icon="right-dir" %}Содержание</h4>
</nav>

<div class="main-content-column">
  {{ content }}
</div>
