---
layout: default
title: Главная
---

<h1>Программная инженерия</h1>

<p>На этом сайте можно найти презентации по курсу программной инженерии, который я веду в Физико-техническом учебно-научном центре НАН Украины.</p>

<p>Для подготовки лекций используется система <a href="https://ru.wikipedia.org/wiki/LaTeX">LaTeX</a> и пакет beamer. Новейшие варианты лекций и их исходные файлы доступны в <a href="{{ site.github.repository_url }}">репозитории GitHub</a>.
Сам сайт собран на основе интеграции <a href="http://pages.github.com/">GitHub Pages</a>. Таким образом, сайт и репозиторий демонстрируют некоторые возможности программной инженерии,
такие как управление конфигурацией (за счет git/GitHub) и управление выпусками (за счет GitHub Pages).</p>

<h2>Разделы</h2>
<p>Лекции по программной инженерии организованы в {% include plurals.html val=site.sections.size one="раздел" few="раздела" many="разделов" %}. К каждому разделу прилагается список контрольных вопросов, тем для самостоятельной работы и список литературы.</p>

{% for section in site.sections %}
  {% assign count = 0 %}
  {% for lecture in site.lectures %}
    {% if lecture.category == section.title %}{% assign count = count | plus: 1 %}{% endif %}
  {% endfor %}
  <h3>{{ section.index | ceil }}. {{ section.title }} ({% include plurals.html val=count one="лекция" few="лекции" many="лекций" %})</h3>
  <p>{{ section.excerpt | strip_html }} <a href="{{ section.url | relative_url }}">Детальнее→</a></p>
{% endfor %}

<h2>Сдача зачета по ПИ</h2>

<p>Сдавать зачет по программной инженерии можно разными способами:</p>
<ul>
  <li>презентовать приложение, использующее наработки ПИ и рассказать, в чем эти наработки заключаются;</li>
  <li>сделать отчет по одной из тем для самостоятельной работы;</li>
  <li>подготовить один из контрольных вопросов по каждому из {% include plurals.html val=site.sections.size one="раздела" few="разделов" many="разделов" %}.</li>
</ul>

<p>Меня устраивает любой из способов, хотя первые два нравятся больше третьего.</p>
