.page-header-link {
  display: block;
  color: inherit;
  max-width: 64rem;
  margin: 0 auto;

  &:hover {
    text-decoration: none !important;
  }
}

.main-content {
  @include large {
    font-size: 1rem;
  }

  @include medium {
     font-size: 1rem;
  }

  @include small {
     font-size: 0.9rem;
  }
}

.project-name {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}
.project-tagline {
  margin-top: 0;
}
